<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Bienvenido a  <%= title %></p>  

    <ul>
      <% lista.forEach(anuncio => { %>
        <li>
          <p>Nombre: <%= anuncio.nombre %></p>
          <p>Precio: <%= anuncio.precio %></p>
          <p>A la venta: <%=anuncio.venta ? 'Esta a la venta' : 'Esta en busqueda'%></p>
          <p>Foto: </p>
            <img src="<%= anuncio.foto %>" alt=<%=anuncio.foto%>>
          <p>Tags: <%= anuncio.tags.join(', ') %></p>
        </li>
      <% }); %>
    </ul>

  </body>
</html>